{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 4 PBP/PBD</h1>

  <h5>Logged in as : </h5>
  <p>{{nama}}</p>
  <table>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    {% comment %} Loop di todo_list_data {% endcomment %}
      {% for task in todo_list %}
      <tr>
          <td>{{task.date}}</td>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          {% endfor %}
      </tr>
  </table>
<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
<button><a href="{% url 'todolist:show_logout_page' %}">Logout</a></button>
 {% endblock content %}
